.header{
    color: #ff8000 !important;
    font-weight: bold;
}

.top-margin-30{
    margin-top: 30px;
}
.top-margin-20{
    margin-top: 20px;
}

.border-1{
    border: 1px solid #17a2b8 !important;
    
}

.align-right{
    text-align: right;
}