<div class="row margin-top-50">
  <div class="col-sm-8"></div>
  <div class="col-sm-3">
    <form>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="remember"> Remember me
        </label>
      </div>
      <div class="align-right">
        <button type="button" class="btn btn-info">Login</button>
        <button type="button" class="btn btn-info">Cancel</button>
      </div>
      <br/>
      <div class="text-info">
          Not a member? Click <a class="link link-color" (click) = 'ShowRegister()'>here</a> to register
      </div> 
    </form>
  </div>
  <div class="col-sm-1"></div>
</div>
